/**
 * @file
 * Styles for classdocs module.
 */
table {
  border-collapse: collapse;
  font: normal 80% sans-serif;
  margin: 1em 0em;
  width: auto;
}
thead tr {
  border: 1px solid black;
}
thead th {
  background-color: black;
  color: white;
  padding: 0em 1em;
}
thead th.classdocs-classname {
  background-color: black;
  color: white;
  padding: 0em 1em;
}
thead th.classdocs-extends {
  background-color: white;
  color: black;
  padding: 0em 1em;
}
.classdocs-section {
  font-style: italic;
}
.classdocs-type {
  text-align: right;
  padding-right: 1em;
}
